* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter var, -apple-system, 'Roboto', system-ui, 'Segoe UI',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #2f343f;
}
